*.swp
*.o
GLE_scripts
CMakeFiles
CMakeCache.txt
Makefile
*.pdf
cmake_install.cmake
logs
callgrind.*
*.log
spikedb
spikedb.db
spikedb.settings
docs
spikedb.dSYM
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
_CPack_Packages
*.dmg
