*.swp
*.o
*.out
spikedb.app
GLE_scripts
CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
logs
callgrind.*
*.log
src/spikedb
spikedb.db
spikedb.settings
docs
spikedb.dSYM
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
_CPack_Packages
*.dmg
bin/
obj/
